html {
    font-family: 'Roboto', Arial, Sans-Serif;
    background: #f7f7f7;
}

button {
    cursor: pointer;
}

/*****
Forms
*****/
h2.form-title {
    text-align: center;
    font-weight: 500;
}

div.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

div.form-container > form {
    padding: 0 20px;
    margin: 0 auto;
}

div.form-group {
    padding: 10px 0;
}

div.form-group > label {
    display: block;
    font-weight: 600;
    padding-bottom: 5px;
}

div.form-group > input {
    width: 300px;
    padding: 5px;
}

div.form-group > .btn {
    padding: 5px 10px;
}

.btn-primary {
    background-color: #0366d6;
    color: white;
    border-color: #0366d6;
}

.btn-primary:hover {
    background-color: #1985ff;
    color: white;
    border-color: #1985ff;
}

.alert {
    display: block;
    font-size: 85%;
    padding: 9px;
    margin-top: 5px;
}

.alert-error {
    color: #86181d;
    background-color: #ffdce0;
}

/****
Chat
****/
div.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

div.chat {
    display: flex;
    flex-direction: row;
    height: 90%;
    background: white;   
    overflow: auto; 
}

section.chat-room {
    width: 700px;
    display: flex;
    flex-direction: column;
}

div.chat-room-info {
    display: flex;
    height: 52px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    background-color: #5581a3;
    color: white;
}

div.chat-room-avatar > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: white;
}

div.chat-room-title {
    margin: 0 auto;
}

div.chat-room-members {
    font-size: 85%;
    color: #b9cfe3;
    text-align: center;
}

div.chat-room-messages {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
}

div.message-container {
    display: flex;
}

div.message-container.my-message {
    flex-direction: row-reverse;
}

div.message {
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    max-width: 85%;
    font-size: 93%;
}

div.message-info {
    margin-bottom: 5px;
}

span.message-author {
    font-size: 90%;  
    color: #414b50;
}

span.message-date {
    font-size: 75%;
    margin-left: 3px;
    color: #5f5f5f;
}

div.chat-room-input-container {
    margin: 0 10px 10px 10px;
}

div.chat-room-input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background: #f7f7f7;   
    max-height: 200px;
    resize: none;
    overflow-x: auto;
    font-size: 90%;
}

div.chat-room-input:focus {
    outline: none;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
  }

section.info-board {
    width: 250px;
    display: flex;
    flex-direction: column;
}

div.settings {
    background: #5581a3;
    color: white;
    height: 52px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.room-list {
    border-left: 2px solid #E9EBED;
    flex: 1;
    overflow-y: scroll;
}

div.room {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 5px;
    background: #f1f1f1;
}

div.room.room-selected {
    border: 1px solid #5480a3;
}

div.room-avatar > img {
    height: 24px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background: white;
}

div.room-title {
    margin: 0 auto;
    font-size: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.room-members {
    text-align: center;
    font-size: 80%;
}