<div class="message-container my-message">
    <div class="message">
        <div class="message-info">
            <span class="message-author"><%= @message["author"] %></span>
            <span class="message-date"><%= humanize_time(@message["time"]) %></span>
        </div>
        <%= @message["text"] %>
    </div>
</div>