<%= for message <- @messages do %>
    <div class="message-container <%= if message["author"] == message["recipient"], do: "my-message" %>">
        <div class="message">
            <div class="message-info">
                <span class="message-author"><%= message["author"] %></span>
                <span class="message-date" data-target="chat.messageDate"><%= message["time"] %></span>
            </div>
            <%= raw(message["text"]) %>
        </div>
    </div>
<% end %>